html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%; 
}

#root {
  height: 100%;
  background:#34252F;
  padding: 0 30px;
}


#main-container {
  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}