html, body {
  margin: 0 auto;
  height: 100%;
}

#root {
  height: 100vh;
  background-color: blanchedalmond;
}
.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}